body {
    font-family: Arial;
    text-align: center;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
}

.done {
    text-decoration: line-through;
    color: gray;
}
